################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.xlsx
*.jpeg
*.h5
/.vs
/wyniki/scripts/.vs/image_model/FileContentIndex
/wyniki/scripts/.vs/image_model/v17/.suo
